/* base font and site container */
html{
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}
p{
  line-height: 1.4;
}
.site-container {
    max-width: 960px;
    margin: 0 auto;
}


/*** Tortoiseshell Optics banner and header with logo, store name and nav bar ***/
.banner{
  height: 31rem;
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
}
/* caption */
.caption h1{
  background-color: white;
  padding: 1.5rem 0 1.5rem 5rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  margin-top: 10rem;
}
.caption {
  display: inline-block;
  float: right;
}

/* header styling */
header{
  margin-top: 1rem;
  background-color: cadetblue;
  color: white;
}
header.flex-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* logo styling */
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  margin-left: 2rem;
  height: 1.5rem;
}
.logo span{
  margin-left: 1rem;
}

/* nav bar styling */
#menu{
  display: none;
}
header nav{
  margin-right: 1rem;
}
header nav span{
  display: inline-block;
  padding: 1rem;
}
a:-webkit-any-link {
  color: white;
  cursor: auto;
  text-decoration: none;
}


/*** content section ***/
.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* icon divs */
/* flex container for icon divs */
.icons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 3rem;
    height: 8rem;
}
/* flex container for each icon including img and text */
.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#ruler, #truck {
    margin-left: 6rem;
}
#paper img{
  width: 3.5rem;
}
#ruler img{
  width: 5rem;
}
#truck img{
  width: 5rem;
}
.icon p {
    text-align: center;
}

/* info divs */
h2{
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  width: 10rem;
  color: white;
}
.info-text{
  margin-top: 1rem;
}
.info{
  width: 35%;
}
#appointments{
  margin-left: 5%;
}

/* footer section with logo and copyright */
footer{
  background-color: azure;
  height: 9.5rem;
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

/* media queries */
@media only screen and (max-width: 980px) {
  .banner{
    height: 21rem;
  }
  header{
    margin-top: 0;
    position: fixed;
    z-index: 5;
  }
  .caption h1{
    padding: 0.75rem 4rem;
    margin-right: 2rem;
    font-size: 1.33rem;
  }
}
@media only screen and (max-width: 680px) {

  #name{
    display: none;
  }
  #menu{
    display: inline-block;
    padding-right: 0;
  }
  .menu-item{
    display: none;
  }

  .banner{
    height: 17rem;
  }
  .caption h1{
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
    margin-right: 0;
    margin-top: 9rem;
  }
  .caption{
    margin-top: 12px;
    float: none;
    width: 100%;
  }
}
